@tailwind base;
@tailwind components;
@tailwind utilities;

.curved-title {
    display: flex;
    justify-content: center;
  }
  
  .curved-title span {
    display: inline-block;
  }
  
  .letter-0 {
    transform: translateY(6px);
  }
  .letter-1 {
    transform: translateY(-6px);
  }
  .letter-2 {
    transform: translateY(6px);
    transform: rotateY(180deg);
  }
  .letter-3 {
    transform: translateY(-6px);
  }
  .letter-4 {
    transform: translateY(6px);
  }
  .letter-5 {
    transform: translateY(-6px);
  }
  .letter-6 {
    transform: translateY(6px);
  }
  .letter-7 {
    transform: translateY(-6px);
  }
  